.editTaskForm {
  text-align: left;
}

.editTaskForm label {
  margin-top: 0.6em;
  display: block;
}

.editTaskForm .buttonsWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
  margin: 1em auto;
}

.editTaskForm .completions {
  font-size: 80%;
}

.editTaskForm .frequencyNote {
  font-size: 90%;
  margin-right: 1em;
}

.editTaskForm .inlineFieldset {
  align-items: center;
  border: 0;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.editTaskForm .note {
  font-size: 70%;
  font-style: italic;
  margin: 0;
}

.editTaskForm .placeholder {
  font-size: 80%;
  font-style: italic;
}

.editTaskForm .input,
.editTaskForm .select {
  box-sizing: border-box;
  height: 3em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  width: 100%;
}

.editTaskForm .input.durationInput {
  margin-right: 1em;
  max-width: 6em;
}

.editTaskForm .input.frequencyNumberInput {
  max-width: 6em;
}

.editTaskForm .select:invalid {
  color: #777;
}

.editTaskForm .select option {
  color: #000;
}

.editTaskForm .select option:disabled {
  color: #777;
  font-style: italic;
}
