.editTaskForm {
  text-align: left;
}

.editTaskForm label {
  margin-top: 0.6em;
  display: block;
}

.editTaskForm .deleteButton{
  color: red;
}

.editTaskForm .taskFormInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
