.listPage .iconColumn {
  white-space: nowrap;
  width: fit-content;
}

.listPage .selectRoom {
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -0.25em;
  width: 6em;
}

.listPage .table {
  border-spacing: 0;
  width: 100%;
}

.listPage .tableHeadingRow .tableCell {
  border-bottom: 1px solid rgb(182, 192, 211);
  text-align: left;
}

.listPage .tableCell {
  padding: 0.25em 0.5em;
}

.listPage .tableCell:first-letter {
  text-transform: capitalize;
}

.listPage .taskColumn {
  border-right: 1px solid rgb(182, 192, 211);
}
