table{
  border-spacing: 0;
  width: 100%;
}

.taskColumn{
  border-right: 1px solid rgb(182, 192, 211);
}

.iconColumn{
  width: 1.2em;
}

th{
  border-bottom: 1px solid rgb(182, 192, 211);
}

td,th{
  padding: 8px 10px;
}

td:first-letter {
  text-transform: capitalize;
}

.selectRoom{
  font-size: 1em;
  width: 6em;
  font-weight: bold;
  color: inherit;
  background-color: transparent;
}

.selectRoom option {
  background-color: white;
  color: black;
  font-size: 85%;
}
