.table {
  border-spacing: 0;
  width: 100%;
}

.taskColumn {
  border-right: 1px solid rgb(182, 192, 211);
}

.iconColumn {
  width: 1.2em;
}

.tableHeadingRow .tableCell {
  border-bottom: 1px solid rgb(182, 192, 211);
  text-align: left;
}

.tableCell {
  padding: 0.25em 0.5em;
}

.tableCell:first-letter {
  text-transform: capitalize;
}

.selectRoom {
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -0.25em;
  width: 6em;
}
