.activeTask {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.activeTask .durationAndLocation {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

.activeTask .duration,
.activeTask .location {
  background-color: white;
  border-radius: 20px;
  padding: 0.4em;
  color: #33405a;
}

.activeTask .activeTaskCompleteButton {
  font-size: 3em;
}

.activeTask .activeTaskIcon {
  font-size: 3.5em;
  margin: 0 auto;
  width: fit-content;
}

.activeTask .name {
  font-size: 1.7em;
  position: relative;
  padding: 0.7em
}
