.iconButton {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.4));
  font-size: inherit;
  min-height: 44px;
  min-width: 44px;
  padding: 0;
  transform: translateY(-1px);
}

.iconButton:active {
  filter: drop-shadow(0px 1px 1px rgb(0, 0, 0, 0.4));
  transform: translateY(1px);
}

.iconButton:disabled {
  cursor: default;
  filter: none;
  opacity: 0.5;
  transform: none;
}
