.iconButton {
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 6px 10px -5px rgb(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  padding: 0;
}

.iconButton:not(:disabled):active {
  box-shadow: 0px 2px 2px -1px rgb(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.iconButton:disabled {
  cursor: default;
  opacity: 0.5;
}
