.modalBackground {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: var(--color-foreground);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 997;
}

.modal {
  background-color: var(--color-background);
  border-radius: 20px;
  color: var(--color-foreground);
  left: 50%;
  max-height: 80vh;
  max-width: calc(100% - 2rem);
  position: relative;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  z-index: 998;
}

.modal .modalContent {
  margin: var(--padding-height) var(--padding-width);
}
