.timer {
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
}

.timer .timerInput {
  background: transparent;
  border: none;
  color: var(--color-foreground);
  font-size: inherit;
  margin: 0 0.3em;
  padding: 0.25em;
  text-align: right;
  width: 1.8em;
}

.timer .timerControls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.timer .timerControls .timerSecondaryControl {
  color: var(--color-accent);
}

.timer .timerControls .timerSecondaryControl:disabled {
  visibility: hidden;
}

.timer .timerControls .timerPrimaryControl {
  color: var(--color-foreground);
  font-size: 130%;
}

.timerModalControls {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-top: 4em;
}
