.timer {
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
}

.timer .timePart {
  background-color: transparent;
  border: none;
  color: var(--color-foreground);
  display: inline;
  font-size: inherit;
  width: 1.3em;
  margin: 0 0.3em;
  text-align: right;
}

.timer .controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.timer .controls .secondaryControl {
  color: var(--color-accent);
}

.timer .controls .control.secondaryControl:disabled {
  visibility: hidden;
}

.timer .controls .control.primaryControl {
  color: var(--color-foreground);
  font-size: 130%;
}

.timer .controls .control.primaryControl:disabled {
  opacity: 0.6;
}
