* {
  box-sizing: border-box;
}

a,
a:active,
a:link,
a:visited {
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid transparent;
}

a:hover{
  border: 1px solid white;
}

.app {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-flow: column nowrap;
  font-size: 16pt;
  height: 100vh;
  max-height: 100vh;
}

.header {
  background-color: var(--color-accent);
  flex: 0 0 fit-content;
  font-size: 2.7rem;
  line-height: 1;
  filter: brightness(110%);
  width: 100%;
}

.main {
  flex: 1 1 100%;
  max-width: 100%;
  overflow-y: auto;
  position: relative;
}

.footer {
  flex: 0 0;
}
